@font-face {
    font-family: "antro vectra";
    src: url("../fonts/antro_vectra.otf");
}
@font-face {
    font-family: "oh samantha";
    src: url("../fonts/oh-samantha demo.ttf");
}

* {
    margin: 0;
    padding: 0;
    /*border: 0;*/
    /*outline: 0;*/
    /*vertical-align: baseline;*/
    text-decoration: none;
}
body {
    /*background: #ccc;*/
    /*background-image: url("../images/roses-bg.jpg");*/
   /* background-image: url('../images/backgrounds/stars-bg.jpg');*/
    max-width: 100%;
}
#wrapper {
    max-width: 1520px;
   
    /*max-width: 100%;*/
    margin: 0 auto;
    background: #fffeff;
    
    /*border: 1px solid green;*/
}

#main-wrapper {
    max-width: 1170px;
    margin: 0 auto;
    background: white;
    /*display: flex;*/
   /* border: 1px solid red;*/
}
main {
    max-width: 100%;
    /*background: #fffff9;*/
    /*background-image: url("../images/sun-bg.jpg");*/
    /*filter: opacity(.2);*/
    /*border: 1px solid red;*/
}

h1 { 
    /*font-family: "antro vectra";*/
    font-family: "antro vectra";
    
    /*text-transform: lowercase;*/
    /*font-weight: 400;*/
    font-size: 70px;
    /*line-height: 1;*/
    /*color: #736B5F;*/
    color: #525252;
    text-align: center;
    padding-top: 50px;
}

header h2 {
    text-align: center;
    font-family: "montserrat";
    letter-spacing: 7px;
    /*color: #928F88;*/
    color: #736B5F;
    font-size: 12px;
    padding-bottom: 30px;
    /*font-weight: 600;*/
    text-transform: lowercase;
    /*border: 1px solid red;*/
    
}
#main-nav {
    max-width: 1520px;
    /*padding-top: 30px;*/
}
/*#main-nav img {
    vertical-align: middle; 
}*/
#cart {
  /*vertical-align: -3px; */
}
#hero {
   /* max-width: 100%;
    height: auto;*/
    width: 100%;
}
#shop-image {
    width: 100%;
    height: auto;
    /*filter: opacity(50%);*/
    /*/border: 1px solid red;*/
}
main h2 {
    /*text-align: center;*/
    /*background: #fff;
    transform: rotate(-17deg);*/
    font-family: "courgette";
    font-size: 35px;
    font-weight: normal;
    /*margin-top: 0;*/
    color: #525252;
    /*letter-spacing: 2px;*/
    padding: 30px 0;
}
.product-h2 {
    text-align: center;
}

.row {
    display: flex;
    flex-flow: row nowrap;
    /*justify-content: space-around;*/
    /*padding: .5vw;*/
}
.figure {
  margin: 2%;
  width: 29%;
}
.figure img {
    width: 100%;
    height: auto;
}
.figure p {
   /* display: inline-block;*/
    font-family: montserrat;
    padding: 25px 15px 15px 15px;
}
#price {
    float: right;
}
button {
    display: block;
    margin: 0 auto 40px auto;
    font-family: montserrat;
    padding: 5px 10px;
}
select {
    display: block;
    font-family: montserrat;
    padding: 5px 10px;
    margin: 0 auto 30px auto;
}

form {
   
    text-align: center;
    font-family: montserrat;
    margin-bottom: 40px;
   
}

input {
    margin-right: 20px;
}


@media only screen and (max-width: 686px) {
    
    h1 {
        /*border: 1px solid red;*/
        float: right;
        width: 60%;
        text-align: left;
        line-height: .9;
        margin-bottom: 30px;
        margin-top: -10px;;
    }
    #your {
        display: block;
    }
    #triangle1, #triangle2 {
        display: none;
    }
    header h2 {
        display: none;   
    }
     li {
        display: block;
         padding: 0;
    }
    #login-nav {
        float: none;
        margin-left: 5px;
        margin-bottom: 25px;
       /* border: 1px solid red;*/
    }
    #login-nav a {
        font-family: "shorelines script";
        font-size: 15px;
        line-height: 2;
    }
    #main-nav li {
        margin-bottom: 10px;
    }
    #main-nav a {
        font-size: 25px;
        /*border: 1px solid red;*/
    }
    #top-nav-row, #main-nav, #login-nav {
        width: 135px;
        /*border: 1px solid red;*/
    }
    #top-nav-row {
        /*border: 1px solid red; */
        background: none;
        margin-top: 30px;
        border-right: 1px solid black;
    }
}















