@font-face {
    font-family: "antro vectra";
    src: url("../fonts/antro_vectra.otf");
}

@font-face {
    font-family: "oh samantha";
    src: url("../fonts/oh-samantha demo.ttf");
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    /*background: #ccc;*/
    /*background-image: url("../images/roses-bg.jpg");*/
   /* background-image: url('../images/backgrounds/stars-bg.jpg');*/
   /* max-width: 100%;*/
}

#wrapper {
    max-width: 1520px;
    margin: 0 auto;
    background: #fffeff;
}

h1 { 
    font-family: "antro vectra";
    font-size: 70px;
    text-align: center;
    padding-top: 50px;
}

h1 a {
    color: #525252; 
}

header h2 {
    /* asheville, north carolina */
    text-align: center;
    font-family: "montserrat";
    letter-spacing: 7px;
    /*color: #928F88;*/
    color: #736B5F;
    font-size: 12px;
    padding-bottom: 30px;
    text-transform: lowercase;   
}

#main-nav {
    max-width: 1520px;
}

/*#cart {
  position: relative;
  top:-3px;
}*/

#view-cart {
    position: relative;
    top: 7px; 
}

main {
    max-width: 100%; /* contains the hero image */
    /*background: #fffff9;*/
    /*background-image: url("../images/sun-bg.jpg");*/
    /*filter: opacity(.2);*/
    /*border: 1px solid red;*/
}

#hero {
    width: 100%;
    height: auto;
}

#content-wrapper {
    max-width: 1170px;
    margin: 0 auto;
    background: #fffeff;
    text-align: center;
    font-family: montserrat;
}

main h2 {
    font-family: "courgette";
    font-size: 35px;
    font-weight: normal;
    color: #525252;
    letter-spacing: 1px;
    padding: 30px 0;
}

#master-h2 {
    text-align: left;
}

input[type="checkbox"] {
    margin-right: 20px;
}

#apply-filters {
    font-family: montserrat;
    padding: 5px 10px;
    display: block;
    margin: 25px auto;
}

#sort {
    display: block;
    font-family: montserrat;
    padding: 5px 10px;
    margin: 0 auto 30px auto;
}

/* Product images */

.row {
    display: flex;
    flex-flow: row nowrap;
}

.figure {
  margin: 2%;
  width: 29%;
  text-align: center;
}

.figure img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.figure p {
    padding: 0 15px 15px 15px;
}

#paypal {
    margin-bottom: 40px; 
}

/* Lightbox styles */

#inline_content {
  background-color: #262626; 
}

#lightbox {
    display: none;   
}

#inline_content img {
    float: left;
    height: 600px;
    margin-left: 40px;
    margin-top: 40px;    
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

#inline_content form {
   text-align: left;
}

.lightbox-text {
    width: 400px;
    color: #fffeff;
    /*font-family: montserrat;*/
    font-size: 20px;
    padding: 60px 40px 0 550px;
}

.lightbox-text p {
    margin-bottom: 28px;
}

#lightbox-name {
    font-family: courgette;
    font-size: 40px;
    margin-bottom: 20px;
}

.align-left {
    text-align: left;
}

/* Table styles - users-index page */

table {
    border-spacing: 0;
}

td {
    color: #262626;
}

td, th {
    text-align: left;
    padding: 10px;  
}

td a {
    font-style: italic;
    color: #262626;
}

td a:hover {
    color: #87A972;
}

tr:nth-of-type(odd) {
    background-color: #f5f5f5;
}

tr:first-of-type {
    background-color: #262626;
    color: #fffeff; 
}


@media only screen and (max-width: 686px) {
    
    h1 {
        /*border: 1px solid red;*/
        float: right;
        width: 60%;
        text-align: left;
        line-height: .9;
        margin-bottom: 30px;
        margin-top: -10px;;
    }
    #your {
        display: block;
    }
    #triangle1, #triangle2 {
        display: none;
    }
    header h2 {
        display: none;   
    }
     li {
        display: block;
         padding: 0;
    }
    #login-nav {
        float: none;
        margin-left: 5px;
        margin-bottom: 25px;
       /* border: 1px solid red;*/
    }
    #login-nav a {
        font-family: "shorelines script";
        font-size: 15px;
        line-height: 2;
    }
    #main-nav li {
        margin-bottom: 10px;
    }
    #main-nav a {
        font-size: 25px;
        /*border: 1px solid red;*/
    }
    #top-nav-row, #main-nav, #login-nav {
        width: 135px;
        /*border: 1px solid red;*/
    }
    #top-nav-row {
        /*border: 1px solid red; */
        background: none;
        margin-top: 30px;
        border-right: 1px solid black;
    }
}















